@import url('https://fonts.googleapis.com/css2?family==Bai+Jamjuree:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;1,200;1,300;1,400;1,500;1,600;1,700&display=swap');
.lucrp1 {
  width: 90%; 
  max-width: 685px; 
  min-width: 450px;
  min-height: 450px;
  margin: auto;
  box-sizing: border-box;
  border-radius: 6px;
}
.lucrp2 {
  font-size: 15px;
  font-family: Bai Jamjuree;
  color: #dfdfdf;
  background:radial-gradient(circle at 12vw, #1f443c40 0%, #0000 42%);
  padding: 30px;
}
.lucrp3 {
  width: 35%;
  max-width: 240px;
  aspect-ratio: 3/4;
  background: url(https://iili.io/KhkqqOP.png)center/cover, url(https://i.pinimg.com/1200x/8c/97/ce/8c97ce904a9b483f5d4a884e9824666c.jpg)center/cover;
  -webkit-mask-image: url(https://iili.io/KhkBREb.png);
  -webkit-mask-size: cover;
  position: relative;
  float: right;
  margin-left: 15px;
  margin-top: 15px;
}
.lucrp4 {
  font-family: 'Call of Ops Duty II', sans-serif;
  line-height: 1;
  font-size: max(2.8vw, 40px);
  color:#c5c5c5;position: relative;
  z-index: 99;
  margin-top: -10px;
}
.lucrp5 {
  font-family:'VelvetQuilt Display font', sans-serif;
  padding: 0px 10px;
  margin-top: -13px;
  border: 1px solid #313131;
  width: fit-content;
  word-wrap : break-word;
  line-height: 1.1;border-radius: 5px;
  color: #e1e1e1;
  filter: blur(0.7px) brightness(0.8);
  margin-inline: auto;
  font-size: max(1.6vw, 18px);
  user-select: none;
}
.lucrp6 {
  padding: 0px 10px;
  margin-top: -3px;
  border: 1px solid #979797;
  width: fit-content;
  border-radius: 5px;
  color: #e1e1e1;
  line-height: 1.3;
  filter: blur(0.7px) brightness(0.8);
}
.lucrp7 {
  min-height: 170px;
  text-align: justify;
  margin-top: 23px;
  color: #dfdfdf;
}
.lucrp8 {
  padding: 0px 10px;
  border: 1px solid #313131;
  width: fit-content;
  border-radius: 5px;
  color: #e1e1e1;
  font-size: 13px;
  box-shadow: 0px 0px 4px 0px #60d7dd;
  text-align: center;
  margin: 35px auto;
}
