@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree&display=swap');

/* COMMISSION CODE BY VALESKA @thelessyouknowthebetter FOR ROLEPLAYTH */
.yoshuarp {
    width: 100%;
    aspect-ratio: 1/0.75;
    position: relative;
}
.yoshuarpbg {
    position: absolute;
    width: 70%;
    aspect-ratio: 1/1;
    background: url(https://iili.io/f4KItae.png) center / cover;
    box-sizing: border-box;
    top: 2%;
    left: 15%;
    z-index: 3;
}
.yoshuarptxt {
    position: absolute;
    font-family: 'Bai Jamjuree';
    line-height: 1.8;
    color: #403835;
    font-size: clamp(0.8rem, 1.1vw, 1.2vw);
    width: 50%;
    height: 70%;
    overflow-y: auto;
    text-align: justify;
    top: 15%;
    left: 10%;
    rotate: 1deg;
}
.yoshuarptxt::-webkit-scrollbar {
  display: none;
}
.yoshuarpps {
    position: absolute;
    font-family: 'Bai Jamjuree';
    font-size: clamp(0.8rem, 1.1vw, 1.2vw);
    width: 50%;
    line-height: 1.5;
    color: #403835;
    overflow-y: auto;
    text-align: right;
    top: 88%;
    left: 9.5%;
    rotate: 1deg;
}
/* COMMISSION CODE BY VALESKA @thelessyouknowthebetter FOR ROLEPLAYTH */
